* { font-family: 'Poppins'}
body {
    background-color: white
}

#logo-uniska-nav {
    height: 40px;
    width: 40px;
}

#logo-uniska-beranda {
    height: 170px;
    width: 170px;
}

#logo-uniska-login {
    height: 170px;
    width: 170px;
}
